body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  width: 1600px;
}
:root {
  --brand-color: #2196f3;
  --primary-text-color: #212121;
  --primary-white-color: #ffffff;
  --primary-enlace-color: #757575;
  --primary-background-color: #2f303a;
  --secondary-text-color: #757575;
  --secondary-background-color: #f5f4fa;
  --container-color: #eeeeee;
}
.box.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ffffff;
  width: 1600px;
  border: 1px solid #eeeeee;
}
.list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.list.header {
  gap: 50px;
}
.list.link {
  list-style: none;
  gap: 50px;
}
.link {
  list-style: none;
}

.button:focus {
  color: var(--brand-color);
  outline: none;
}
.link:focus {
  color: var(--brand-color);
}
.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--brand-color);
  text-decoration: none;
  cursor: pointer;
}
.link {
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  color: var(--primary-text-color);
  text-decoration: none;
  cursor: pointer;
  list-style: none;
}
.link.contact {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #757575;
  text-decoration: none;
  list-style: none;
}

.link.contact:hover,
.link.contact:focus {
  color: var(--brand-color);
}
.link:hover {
  color: var(--brand-color);
}
.hero.section {
  background: var(--primary-background-color);
  width: 1600px;
  height: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero.title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  width: 696px;
}
.hero.buttom {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.hero.button:focus,
.hero.button:hover {
  outline: var(--brand-color);
}
.feature-section {
  width: 1600px;
  display: flex;
  justify-content: center;
}
.feature.box {
  width: 270px;
  flex-direction: column;
}
.feature-section-list-title {
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--primary-text-color);
  justify-content: space-between;
}
.feature-section-list-text {
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--secondary-text-color);
  justify-content: space-between;
}
.work-section {
  width: 1600px;
  justify-content: center;
}
.list.work {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  mix-blend-mode: normal;
}
.section.subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--primary-text-color);
}
.team-section {
  background-color: var(--secondary-background-color);
  width: 1600px;
  display: flex;
  flex-direction: column;
}
.team.work {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 37px;
}
.list.team {
  width: 270px;
  background-color: var(--primary-white-color);
  flex-direction: column;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team.section.description {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--primary-text-color);
}
.team.section.text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--primary-enlace-color);
}
.footer {
  background: var(--primary-background-color);
  width: 1600px;
  height: 252px;
  flex-direction: column;
  justify-content: center;
}
.list-footer {
  display: flex;
  flex-direction: column;
  margin-left: 180px;
}
.logo.footer {
  margin-left: 215px;
}
.link.site {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: var(--primary-white-color);
  text-decoration: none;
}

.link.contact {
  list-style: none;
}
.link.site:hover,
.link.site:focus {
  color: var(--brand-color);
}
.list.portfolio {
  gap: 50px;
}

.button {
  font-family: inherit;
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  text-transform: capitalize;
  cursor: pointer;
}

.button:hover {
  color: var(--primary-white-color);
  background: var(--brand-color);
}
.list-portfolio {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.list-container {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
.list.container {
  list-style: none;
}
.container {
  color: var(--primary-white-color);
  border: 1px solid var(--container-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  width: 370px;
}
.description {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  text-transform: capitalize;
}
.text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-transform: capitalize;
}
.current {
  color: var(--brand-color);
  text-decoration: none;
}
