body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}
:root {
  --brand-color: #2196f3;
  --primary-text-color: #212121;
  --primary-white-color: #ffffff;
  --primary-enlace-color: #757575;
  --primary-background-color: #2f303a;
  --secondary-text-color: #757575;
  --secondary-background-color: #f5f4fa;
  --container-color: #eeeeee;
}
.list {
  list-style: none;
}
.button:focus {
  color: var(--brand-color);
  outline: none;
}
.link:focus {
  color: var(--brand-color);
}
.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--brand-color);
  text-decoration: none;
  cursor: pointer;
}
.link {
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  color: var(--primary-text-color);
  text-decoration: none;
  cursor: pointer;
}
.link-contact {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #757575;
  text-decoration: none;
  list-style: none;
}
.link-contact:hover,
.link-contact:focus {
  color: var(--brand-color);
}

.link:hover {
  color: var(--brand-color);
}
.hero-section {
  background: var(--primary-background-color);
  text-align: center;
}
.hero-section-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.hero-section-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.hero-section-button:focus,
.hero-section-button:hover {
  outline: var(--brand-color);
}
.feature-section-list-title {
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.feature-section-list-text {
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--secondary-text-color);
}
.section-subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--primary-text-color);
}
.team-section-list-description {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--primary-text-color);
}
.team-section-list-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--primary-enlace-color);
}
.footer {
  background: var(--primary-background-color);
}
.link-site {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: var(--primary-white-color);
  text-decoration: none;
}
.link-site:hover,
.link-site:focus {
  color: var(--brand-color);
}

.button {
  font-family: inherit;
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  text-transform: capitalize;
  cursor: pointer;
}
.button:hover {
  color: var(--primary-white-color);
  background: var(--brand-color);
}
.list-container {
  list-style: none;
}
.container {
  color: var(--primary-white-color);
  border: 1px solid var(--container-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.description {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  text-transform: capitalize;
}
.text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-transform: capitalize;
}
.current {
  color: var(--brand-color);
  text-decoration: none;
}
